/* Add this CSS for the rotating animation */
@keyframes rotate3d {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}


/* Keyframes for scaling up */
@keyframes scaleUp {
    from {
        transform: scale(0.01); /* Start from 1% of the original size */
    }
    to {
        transform: scale(1); /* End at 100% of the original size */
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Keyframes for rotation */
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Common animation classes */
.rotate-animation {
    animation: rotate360 0.2s linear 10; /* 30 iterations, then stops */
}


/* Scaling animation */
.scale-animation {
    animation: scaleUp 2s ease-out forwards; /* 6 seconds duration, easing out */
}


.fade-in-animation {
    animation: fadeIn 2s ease-in-out forwards;
}

.delayed-fade-in-animation {
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 2s; /* Delay of 2 seconds before starting the fade-in */
}

.opaque {
    opacity: 0;
}